<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gas</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
<header>
	<div class="container">
		<span><img src="static/images/gas.png" width="50" height="50" /></span>
		<h1 class="logo">Gas</h1>
		<strong><nav>
			<ul class="State of Matter">
				<li><a href="{{ url_for('stateofmatter') }}">State of Matter</a></li>
				<li><a href="{{ url_for('gas') }}">Gas</a></li>
				<li><a href="{{ url_for('liquid') }}">Liquid</a></li>
				<li><a href="{{ url_for('solid') }}">Solid</a></li>
				<li><a href="{{ url_for('plasma') }}">Plasma</a></li>
			</ul>
		</nav></strong>
	</div>
</header>
<p><b>Gas</b></p><br>
<p>Gas is a state of matter that has no fixed shape and no fixed volume. Gases have a lower density than other states of matter, such as solids and liquids. There is a great deal of empty space between particles, which have a lot of kinetic energy and aren’t particularly attracted to one another. Gas particles move very fast and collide with one another, causing them to diffuse, or spread out until they are evenly distributed throughout the volume of the container. </p><br>

<p>When more gas particles enter a container, there is less space for the particles to spread out, and they become compressed. The particles exert more force on the interior volume of the container. This force is called pressure. There are several units used to express pressure. Some of the most common are atmospheres (atm), pounds per square inch (psi), millimeters of mercury (mmHg) and pascals (Pa). The units relate to one another this way: 1 atm = 14.7 psi = 760 mmHg = 101.3 kPa (1,000 pascals).</p><br>

<p><b>Examples of gases are listed below.</b><br>

Hydrogen
Nitrogen
Oxygen
Carbon Dioxide
Carbon Monoxide
Water Vapour
Helium
Neon
Argon
Ozone</p>
</body>
</html>