<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Plasma</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
<header>
	<div class="container">
		<span><img src="static/images/Plasma.jpg" width="50" height="50" /></span>
		<h1 class="logo">Plasma</h1>
		<strong><nav>
			<ul class="State of Matter">
				<li><a href="{{ url_for('stateofmatter') }}">State of Matter</a></li>
				<li><a href="{{ url_for('gas') }}">Gas</a></li>
				<li><a href="{{ url_for('liquid') }}">Liquid</a></li>
				<li><a href="{{ url_for('solid') }}">Solid</a></li>
				<li><a href="{{ url_for('plasma') }}">Plasma</a></li>
			</ul>
		</nav></strong>
	</div>
</header>
<p><b>Plasma</b></p><br>
<p>Plasma is a state of matter that is often thought of as a subset of gases, but the two states behave very differently. Like gases, plasmas have no fixed shape or volume, and are less dense than solids or liquids. But unlike ordinary gases, plasmas are made up of atoms in which some or all of the electrons have been stripped away and positively charged nuclei, called ions, roam freely. </p><br>

<p>"Plasma is a charged gas, with strong Coulomb [or electrostatic] interactions," Hu told Live Science. Atoms or molecules can acquire a positive or negative electrical charge when they gain or lose electrons. This process is called ionization. Plasma makes up the sun and stars, and it is the most common state of matter in the universe as a whole.</p><br>
<p><b>Here are 10 examples of forms of plasma:</b>

1.lightning
2.aurorae
3.the excited low-pressure gas inside neon signs and fluorescent lights
4.solar wind
5.welding arcs
6.the Earth's ionosphere
7.stars (including the Sun)
8.the tail of a comet
9.interstellar gas clouds
10.a fireball of a nuclear explosion</p>
</body>
</html>