<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Solid</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
<header>
	<div class="container">
		<span><img src="static/images/solid.png" width="50" height="50" /></span>
		<h1 class="logo">Solid</h1>
		<strong><nav>
			<ul class="State of Matter">
				<li><a href="{{ url_for('stateofmatter') }}">State of Matter</a></li>
				<li><a href="{{ url_for('gas') }}">Gas</a></li>
				<li><a href="{{ url_for('liquid') }}">Liquid</a></li>
				<li><a href="{{ url_for('solid') }}">Solid</a></li>
				<li><a href="{{ url_for('plasma') }}">Plasma</a></li>
			</ul>
		</nav></strong>
	</div>
</header>
<p><b>Solid</b></p><br>
<p>When particles are arranged and packed closely -- compared to those in a gas or liquid -- and are relatively stable, they are considered to be in a solid state. Solids tend to have a rigid shape, as the atoms or molecules of matter in the solid state are generally compressed and tightly connected through chemical bonds. These bonds can produce an amorphous shape or a regular lattice.</p><br>

<p>In electronics, solid state refers to components and systems based entirely on semiconductor materials, such as silicon, germanium or gallium arsenide. Transistors and diodes -- the most common solid-state devices -- are often combined with resistors, capacitors and other components to create integrated circuits (ICs). All electronic systems incorporate ICs and, therefore, transistors.</p>

<p><b>Examples of solids are the following:</b>

bricks and other building materials, like concrete, wood and glass;
dry ice or frozen carbon dioxide;
ice;
most metals;
most minerals;
rocks; and
salt.</p>
</body>
</html>